@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <header><h1>FIFA WORLD CUP</h1></header>
    <p class="lead">Ven y Conoce a los Equipos Clasificados para el 2018 en la FIFA WORLD CUP</p>
    <p><a href="http://es.fifa.com/" class="btn btn-primary btn-lg">Mas Sobre FIFA &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingresar Paises</h2>
        <p>
            Ingresa los Paises que deseas para poder, verlos en la lista de la FIFA WOLRD CUP 2018.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Ingresar Paises", "UploadFile", "ArbolBinario")</p>
    </div>
    <div class="col-md-4">
        <h2>Ingresar Int</h2>
        <p>Ingresa los Paises en forma de INT que deseas para poder, verlos en la lista de la FIFA WOLRD CUP 2018.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ingresar Paises", "UploadFile", "ArbolBinario")</p>
    </div>
    <div class="col-md-4">
        <h2>Ingresar String</h2>
        <p>Ingresa los Paises que deseas para poder, verlos en la lista de la FIFA WOLRD CUP 2018.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ingresar Paises", "UploadFile", "ArbolBinario")</p>
    </div>
</div>