@model IEnumerable<int>

@{
    ViewBag.Title = "Eliminar número";
}

<h2 align ="center">Eliminar Número</h2>

<br />

<h4>¿Estás seguro de querer eliminar este nodo?</h4>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <br />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <br />
            <br />
            @Html.ActionLink("Regresar a la lista de enteros", "Index")
        </div>
    }
</div>
