@model IEnumerable<string>

@{
    ViewBag.Title = "Eliminar String";
}

<h2 aling ="center">Eliminar String</h2>

<br />

<h4>¿Estás seguro de querer eliminar este nodo?</h4>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <br />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <br />
            <br />
            @Html.ActionLink("Regresar a la lista de string", "IndexString")
        </div>
    }
</div>
