@model Laboratorio_02_1169317_1104017.Pais

@{
    ViewBag.Title = "Eliminar Pais";
}

<h2>Eliminar Pais</h2>

<h3>Estas seguro que deseas eliminar este Pais?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <br />
            @Html.ActionLink("Ver Lista de Paises", "Index")
        </div>
    }
</div>
