
@{
    ViewBag.Title = "Cargar Archivo";
}

@using (Html.BeginForm("UploadFile", "ArbolBinario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();

    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">Agregar con Archivo</h2>
            <p align="center">
                Para agregar un grupo de personas a través de un archivo .json
            </p>

            <div align="center" class="form-group">
                <input type="file" name="file" value="Examinar" class="btn-default" style="color:transparent" />
            </div>
            <div align="center" class="form-group">
                <button type="submit" class="btn btn-default">Subir archivo</button>
            </div>

        </div>
    </div>
}

<h2>UploadFile</h2>